<?xml version="1.0"?>
<!-- 
/**
* @category   Swipezoom
* @package    Swipezoom_InternationalShipping
* @author     Swipezoom
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>
  <modules>
    <Swipezoom_InternationalShipping>
      <version>1.0.0</version>
    </Swipezoom_InternationalShipping>
  </modules>
  <frontend>
    <routers>
      <internationalshipping>
        <use>standard</use>
        <args>
          <module>Swipezoom_InternationalShipping</module>
          <frontName>internationalshipping</frontName>
        </args>
      </internationalshipping>
    </routers>
    <layout>
      <updates>
        <internationalshipping>
          <file>internationalshipping.xml</file>
        </internationalshipping>
      </updates>
    </layout>
    <events>
      <sales_order_place_after>
        <observers>
          <swipezoom_order_checkout_observer>
            <type>singleton</type>
            <class>internationalshipping/observer</class>
            <method>saveSZorderNumber</method>
          </swipezoom_order_checkout_observer>
        </observers>
      </sales_order_place_after>
      
      <sales_quote_collect_totals_after>
        <observers>
          <swipezoom_order_checkout_observer>
            <type>singleton</type>
            <class>internationalshipping/observer</class>
            <method>modifySubtotal</method>
          </swipezoom_order_checkout_observer>
        </observers>
      </sales_quote_collect_totals_after>
    </events>
  </frontend>
  <admin>
    <routers>
      <internationalshipping>
        <use>admin</use>
        <args>
          <module>Swipezoom_InternationalShipping</module>
          <frontName>internationalshipping</frontName>
        </args>
      </internationalshipping>
    </routers>
  </admin>
  <adminhtml>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <Swipezoom_InternationalShipping>
              <title>InternationalShipping Module</title>
              <sort_order>10</sort_order>
            </Swipezoom_InternationalShipping>
          </children>
        </admin>
      </resources>
    </acl>
    <layout>
      <updates>
        <internationalshipping>
          <file>internationalshipping.xml</file>
        </internationalshipping>
      </updates>
    </layout>
  </adminhtml>
  <global>
     <sales>
            <quote>
                <totals>
                    <vat>
                        <class>Swipezoom_InternationalShipping_Model_Sales_Quote_Address_Total_Vat</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </vat>
                </totals>
            </quote>
            <order_invoice>
             <totals>
                 <vat>
                     <class>Swipezoom_InternationalShipping_Model_Total_Vat_Invoice</class>
                     <after>subtotal</after>
                     <before>tax</before>
                 </vat>
             </totals>
             </order_invoice>
             <order_creditmemo>
                 <totals>
                     <vat>
                         <class>Swipezoom_InternationalShipping_Model_Total_Vat_Creditmemo</class>
                         <after>subtotal</after>
                         <before>tax</before>
                     </vat>
                 </totals>
             </order_creditmemo>
       </sales>
    
       <fieldsets>
            <sales_convert_quote_address>
                <vat_amount><to_order>*</to_order></vat_amount>
                <base_vat_amount><to_order>*</to_order></base_vat_amount>
            </sales_convert_quote_address>
        </fieldsets>
  	<sales>
		<order>
		  <statuses>
			<newrefund translate="label"><label>New Refund</label></newrefund>
		  </statuses>
		  <states>
			<complete>
			  <statuses>
				<newrefund />
			  </statuses>
			</complete>
		  </states>
		</order>
	 </sales>
    <rewrite>
		<swipezoom_internationalshipping_adminhtml_sales_order_createcontroller>
			<from><![CDATA[#^/admin/sales_order_create/#]]></from> <!-- Mage_Adminhtml_Sales_Order_CreateController  -->
			<to>/internationalshipping/adminhtml_sales_order_create/</to> <!-- Swipezoom_InternationalShipping_Adminhtml_Sales_Order_CreateController  -->
        </swipezoom_internationalshipping_adminhtml_sales_order_createcontroller>
	    <swipezoom_internationalshipping_adminhtml_sales_order_editcontroller>
			<from><![CDATA[#^/admin/sales_order_edit/#]]></from> 
			<to>/internationalshipping/adminhtml_sales_order_edit/</to>
        </swipezoom_internationalshipping_adminhtml_sales_order_editcontroller>
	    <swipezoom_internationalshipping_adminhtml_sales_order_invoicecontroller>
			<from><![CDATA[#^/admin/sales_order_invoice/#]]></from>
			<to>/internationalshipping/adminhtml_sales_order_invoice/</to>
      	</swipezoom_internationalshipping_adminhtml_sales_order_invoicecontroller>
    	<swipezoom_internationalshipping_adminhtml_sales_order_creditmemocontroller>
			<from><![CDATA[#^/admin/sales_order_creditmemo/#]]></from> <!-- Mage_Adminhtml_Sales_Order_CreditmemoController  -->
			<to>/internationalshipping/adminhtml_sales_order_creditmemo/</to> <!-- Swipezoom_InternationalShipping_Adminhtml_Sales_Order_CreditmemoController  -->
		</swipezoom_internationalshipping_adminhtml_sales_order_creditmemocontroller>
		<swipezoom_internationalshipping_adminhtml_sales_order_shipmentcontroller>
			<from><![CDATA[#^/admin/sales_order_shipment/#]]></from> <!-- Mage_Adminhtml_Sales_Order_ShipmentController  -->
			<to>/internationalshipping/adminhtml_sales_order_shipment/</to> <!-- Swipezoom_InternationalShipping_Adminhtml_Sales_Order_ShipmentController  -->
         </swipezoom_internationalshipping_adminhtml_sales_order_shipmentcontroller>
    </rewrite>

	  <rewrite>
	           <swipezoom_internationalshipping>
                <from><![CDATA[#^/checkout/cart/#]]></from>
                <to>/internationalshipping/cart/</to>
              </swipezoom_internationalshipping>	
	   </rewrite>
    <models>
      <internationalshipping>
        <class>Swipezoom_InternationalShipping_Model</class>
        <resourceModel>internationalshipping_mysql4</resourceModel>
      </internationalshipping>
      <internationalshipping_mysql4>
        <class>Swipezoom_InternationalShipping_Model_Mysql4</class>
    <entities>
			<packingdetail>
				<table>packingdetail</table>
			</packingdetail>
			<shipmentdetail>
				<table>shipmentdetail</table>
			</shipmentdetail>
		    <swipezoomcreditmemo>
				<table>swipezoom_creditmemo</table>
		    </swipezoomcreditmemo>
			<partshipreq>
				<table>swipezoom_partshipreq</table>
			</partshipreq>
			 <partshipreqitems>
				<table>swipezoom_partshipreqitems</table>
			  </partshipreqitems>
		</entities>
      </internationalshipping_mysql4>
      <sales>
        <rewrite>
          <order>Swipezoom_InternationalShipping_Model_Order</order>
      		  <order_pdf_invoice>Swipezoom_InternationalShipping_Model_Sales_Order_Pdf_Invoice</order_pdf_invoice>
      		  <order_pdf_shipment>Swipezoom_InternationalShipping_Model_Sales_Order_Pdf_Shipment</order_pdf_shipment>
      		  <order_pdf_items_invoice_default>Swipezoom_InternationalShipping_Model_Sales_Order_Pdf_Items_Invoice_Default</order_pdf_items_invoice_default>
      		  <order_pdf_items_shipment_default>Swipezoom_InternationalShipping_Model_Sales_Order_Pdf_Items_Shipment_Default</order_pdf_items_shipment_default>
        </rewrite>
      </sales>
      <customer>
        <rewrite>
          <address_abstract>Swipezoom_InternationalShipping_Model_Validation_Abstract</address_abstract>
        </rewrite>
      </customer>
    </models>
    <resources>
      <internationalshipping_setup>
        <setup>
          <module>Swipezoom_InternationalShipping</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </internationalshipping_setup>
      <internationalshipping_write>
        <connection>
          <use>core_write</use>
        </connection>
      </internationalshipping_write>
      <internationalshipping_read>
        <connection>
          <use>core_read</use>
        </connection>
      </internationalshipping_read>
    </resources>
    <blocks>
      <internationalshipping>
        <class>Swipezoom_InternationalShipping_Block</class>
      </internationalshipping>
      <adminhtml>
        <rewrite>
          <sales_order_grid>Swipezoom_InternationalShipping_Block_Adminhtml_Sales_Grid</sales_order_grid>
          <sales_invoice_grid>Swipezoom_InternationalShipping_Block_Adminhtml_Sales_Invoice_Grid</sales_invoice_grid>
    		  <sales_shipment_grid>Swipezoom_InternationalShipping_Block_Adminhtml_Sales_Shipment_Grid</sales_shipment_grid>
    		  <sales_creditmemo_grid>Swipezoom_InternationalShipping_Block_Adminhtml_Sales_Creditmemo_Grid</sales_creditmemo_grid>
    		  <sales_order_view>Swipezoom_InternationalShipping_Block_Adminhtml_Sales_Order_View</sales_order_view>
    		  <sales_order_shipment_view>Swipezoom_InternationalShipping_Block_Adminhtml_Sales_Order_Shipment_View</sales_order_shipment_view>
    		  <sales_order_invoice_view>Swipezoom_InternationalShipping_Block_Adminhtml_Sales_Order_Invoice_View</sales_order_invoice_view>
    		  <sales_order_creditmemo_view>Swipezoom_InternationalShipping_Block_Adminhtml_Sales_Order_Creditmemo_View</sales_order_creditmemo_view>
    		  <sales_order_create_sidebar_reorder>Swipezoom_InternationalShipping_Block_Adminhtml_Sales_Order_Create_Sidebar_Reorder</sales_order_create_sidebar_reorder>
          <sales_order_totals>Swipezoom_InternationalShipping_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
            <sales_order_invoice_totals>Swipezoom_InternationalShipping_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
            <sales_order_creditmemo_totals>Swipezoom_InternationalShipping_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
        </rewrite>
      </adminhtml>
    </blocks>
    <helpers>
      <internationalshipping>
        <class>Swipezoom_InternationalShipping_Helper</class>
      </internationalshipping>
    </helpers>
    <sales>
      <shipping>
        <carriers>
          <swipezoom>
            <class>Swipezoom_InternationalShipping_Model_Carrier_Swipezoom</class>
          </swipezoom>
        </carriers>
      </shipping>
    </sales>
    <events>
      <checkout_type_onepage_save_order_after>
        <observers>
          <bts_checkout_observer>
            <type>singleton</type>
            <class>internationalshipping/observer</class>
            <method>confirmOrderInvoiceRequest</method>
          </bts_checkout_observer>
        </observers>
      </checkout_type_onepage_save_order_after>
     
	  <controller_action_predispatch_adminhtml_sales_order_edit_start>
        <observers>
          <controller_action_layout_generate_blocks_before_handler>
            <type>model</type>
            <class>internationalshipping/observer</class>
            <method>editorderdeleteentry</method>
            <args></args>
          </controller_action_layout_generate_blocks_before_handler>
        </observers>
    </controller_action_predispatch_adminhtml_sales_order_edit_start>
	  
	   <controller_action_predispatch_shipping_tracking_popup>
        <observers>
          <controller_action_layout_generate_blocks_before_handler>
            <type>model</type>
            <class>internationalshipping/observer</class>
            <method>trackingfetch</method>
            <args></args>
          </controller_action_layout_generate_blocks_before_handler>
        </observers>
      </controller_action_predispatch_shipping_tracking_popup>
	  
	   <checkout_submit_all_after>
        <observers>
          <checkout_submit_all_after_handle>
            <type>model</type>
            <class>internationalshipping/observer</class>
            <method>orderplaced</method>
            <args></args>
          </checkout_submit_all_after_handle>
        </observers>
      </checkout_submit_all_after>
	  
	  <sales_order_grid_collection_load_before>
                <observers>
                    <atwix_exgrid>
                        <model>internationalshipping/observer</model>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </atwix_exgrid>
                </observers>
            </sales_order_grid_collection_load_before>
    </events>
  </global>
  <default>
    <carriers>
      <swipezoom>
        <active>1</active>
        <include_virtual_price>1</include_virtual_price>
        <sallowspecific>0</sallowspecific>
        <allow_free_shipping_promotions>1</allow_free_shipping_promotions>
        <cutoff_cost>50</cutoff_cost>
        <model>internationalshipping/carrier_swipezoom</model>
        <name>Swipezoom Rates</name>
        <title>International Shipping</title>
        <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
        <include_free_ship_items>0</include_free_ship_items>
        <mode>0</mode>
        <devadminurl>http://staging.swipezoom.com/GecaWs/services/GecaWsHandler?wsdl</devadminurl>
        <devurl>http://staging.swipezoom.com/transaction/services/transaction?wsdl</devurl>
        <adminurl></adminurl>
        <url></url>
        <paymentenabled>1</paymentenabled>
        <merchantid>115</merchantid>
        <merchantkey>TESTERLHYC100567PKI1001ENCYM12</merchantkey>
        <showmethod>1</showmethod>
        <debug>0</debug>
      </swipezoom>
    </carriers>
  </default>
</config>
